<div class="list-group">
    <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{url_for('static', filename='worker-1.webp')}}" alt="twbs" width="32" height="32"
            class="rounded-circle flex-shrink-0 img-responsive">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">Роман Цакоти</h6>
                <p class="mb-0 opacity-75">Арт-директор</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
            </div>
        </div>
    </a>
    <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{url_for('static', filename='worker-2.webp')}}" alt="twbs" width="32" height="32"
            class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">Оксана Цакоти</h6>
                <p class="mb-0 opacity-75">Визажист, нейл мастер</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill"></i>
            </div>
        </div>
    </a>
    <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{url_for('static', filename='worker-3.webp')}}" alt="twbs" width="32" height="32"
            class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">Полина Селиванова</h6>
                <p class="mb-0 opacity-75">Стилист, визажист, бровист</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
            </div>
        </div>
    </a>
    <a  class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{url_for('static', filename='worker-4.webp')}}" alt="twbs" width="32" height="32"
            class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">Юрий Епишкин</h6>
                <p class="mb-0 opacity-75">Стилист юниор</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill rating-color"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
            </div>
        </div>
    </a>
</div>