{% extends 'base.html' %}
{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block main %}
<main>
    <div class="d-flex flex-wrap mt-3 justify-content-center justify-content-between">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" wfd-id="id31">
            <!-- <button class="btn btn-outline-dark" type="submit">Search</button> -->
        </form>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">
                <i class="bi bi-filter"></i>
            </button>
            <div class="dropdown-menu p-3" style="min-width: 300px;">
                <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                <label for="customRange1" class="form-label">Цена</label>
                <input type="range" class="form-range" id="customRange1">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Мужская стрижка
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Женская стрижка
                    </label>
                </div>
            </div>
        </div>
    </div>
    {%include 'user/_list.html'%}
</main>
{% endblock %}

{%block footer%}
{%include "_footer.html"%}
{%endblock%}