{% extends 'base.html' %}
{% block header %}
  {% include "_header.html" %}
{% endblock %}

{% block main %}
  <main>
		<!-- {{shop['id']}} -->
        <h1 class="fw-bold display-3">{{shop['shopname']}}</h1>
        <div>
            <img class="img-fluid rounded-3" src="https://image2.yell.ru/imager/NDk0OTc3Y2Y1NjU2ZTA3NmU2Y/1440x600/responses/3/6/4/r_2252445_25406_kvkufbenya0p4h78_1700803841.jpg" alt="">
        </div>
		<div><b>Адрес:</b> {{shop['location']}}</div>
        <div><b>Контакты:</b> 
            +7 966 032-40-64, Вконтакте, Телеграмм
        </div>
        <button type="submit" class="btn btn-primary w-100">Записаться</button>
        <div class="mt-5">
            <h2>Цены</h2>
            {%include 'user/_price.html'%}
        </div>
        <div class="mt-5">
            <h2>Парикмахеры</h2>
            {%include 'user/_team.html'%}
        </div>
        <div class="mt-5">
            <h2>Отзывы</h2>
            {%include 'user/_reviews.html'%}
        </div>
		<!-- {%for p in pricelist%}
		{{p['title']}} {{p['price']}}
		{%endfor%} -->
  </main>

{% endblock %}

{%block footer%}
  {%include "_footer.html"%}
{%endblock%}
